h1 {
	color: white;
	background: rgb(222, 148, 205);
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	margin: 0;
}

#title {
	font-size: 200%;
}

body {
	margin: 0;
	background: rgb(237, 181, 226);
	padding: 0;
}

.brigadeiro {
	border-radius: 50%;
	content:url(imagens/brigadeiro.jpg);
	float: right;
	margin: 2%;
}

#container {
	margin: 20px auto;
	max-width: 600px;
}

.steps{
	color: white;
	text-align: center;
}

div.box{
	margin: 0;
	vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 32%;
    color: white;
}

.size{
	width: 90%;
	border-radius: 50%;
	background-color: purple;
	padding-bottom: 7%;
	line-height: 200%;
	margin: 2%;
	font-size: 500%;
}